.navbar {
  background: white;
  color: #000000;
  display: flex;              /* 👈 clave */
  align-items: center;        /* centra vertical */
  justify-content: space-between; /* logo izquierda / menú derecha */
  padding: 0px 15px;

}

.contenedor-logos {
  display: flex;
  align-items: center;
  gap: 0; /* 👈 clave: sin espacio */
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px 5px;
  flex-wrap: wrap;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}


.logo {
  fill: rgb(14, 13, 13);
  width:45px;
  height: 45px;
 
  display: none;
}

.letras-logo{
  width: 180px;
  height: 45px;
  fill: rgb(7, 7, 7);
  margin-left: 50px;
}