.navbar {
  background: #004d84;
  color: white;
  display: flex;              /* 👈 clave */
  align-items: center;        /* centra vertical */
  justify-content: space-between; /* logo izquierda / menú derecha */
  padding: 0px 20px;

}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}

.navbar img {
  width: 120px; /* ajusta este valor */
  height: auto;
  
}
.navbar svg {
  fill: white;
  width:45px;
  height: 45px;
}