.navbar {
  background: #032843;
  color: white;
  display: flex;              /* 👈 clave */
  align-items: center;        /* centra vertical */
  justify-content: space-between; /* logo izquierda / menú derecha */
  padding: 0px 15px;

}

.contenedor-logos {
  display: flex;
  align-items: center;
  gap: 0; /* 👈 clave: sin espacio */
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}


.logo {
  fill: white;
  width:45px;
  height: 45px;
}

.letras-logo{
  width:220px;
  height: 45px;
  fill: white;
}