/* RESET */
html, body {
  margin: 0;
  padding: 0;
}

/* Barra completa */
.topbar {
  width: 100%;
  background: #e6e6e6;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1;
  /*height: 22px;*/
  padding: 4px 0; /* controla la altura */
}


/* CONTENEDOR CLAVE */
.topbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* 🔥 TODO A LA DERECHA */
  align-items: center;
  padding: 2px 20px;
  box-sizing: border-box;
}

/* Elementos */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* PQRD */
.pqrd {
  color: #0077cc;
  font-weight: 600;
  text-decoration: none;


}

/* Buscador */
.search-box {
  position: relative;
}

.search-box input {
  padding: 2px 25px 2px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 13px;
  font-size: 12px;
}

/* Icono */
.search-box .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

/* Links */
.topbar-right a {
  text-decoration: none;
  color: #333;
 
}

.topbar-right a:hover {
  color: #0077cc;
}
.mobile-break {
  display: none;
}

.nabvar-strong {
  color: rgb(4, 4, 81);
}

 .nabvar-strong:hover{
  color: #0077cc;

 }
@media (max-width: 375px) {
  .topbar {
  width: 100%;
  background: #e6e6e6;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1;
  height: 33px;
}

  /* Ocultar buscador */
  .search-box {
    display: none;
  }

  .topbar {
    padding: 6px 0; /* un poco más alto en móvil */
  }

  .topbar-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between; /* 🔥 centra todo */
    gap: 18px;
    text-align: center;
  }

  /* PQRD ya NO ocupa toda la línea */
  .pqrd {
    display: inline-block;
    text-align: center;
    line-height: 1.1;
    max-width: 90px; /* 🔥 fuerza el salto */
  }
  .mobile-break {
    display: inline;
  }

  /* Links */
  .topbar-right a {
    font-size: 14px;
    color: #6c757d;
    white-space: nowrap;
  }
 
   .topbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    box-sizing: border-box;
}



}